# Dependencias
node_modules/
package-lock.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp
